POSTGRES_PASSWORD=12345

ADMIN_SEED_ENABLED=false
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=StrongAdminPassword123
ADMIN_DISPLAY_NAME=Production Administrator

PLATFORM_API_KEY_HASH="API_KEY_HASH"

APP_HOST=app.example.com

AllowedOrigins__0=https://app.example.com